@charset "utf-8";
/* CSS Document */

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@font-face {
    font-family: 'Colaborate';
    src: url('ColabBol-webfont.eot');
    src: url('ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('ColabBol-webfont.woff') format('woff'),
         url('ColabBol-webfont.ttf') format('truetype'),
         url('ColabBol-webfont.svg#colaborate-boldregular') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Colaborate';
    src: url('ColabThi-webfont.eot');
    src: url('ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('ColabThi-webfont.woff') format('woff'),
         url('ColabThi-webfont.ttf') format('truetype'),
         url('ColabThi-webfont.svg#colaborate-thinregular') format('svg');
    font-weight: 300;
    font-style: normal;

}

body {
	margin:0;
	font-family: 'Colaborate', sans-serif;
	font-weight:300;
	background:#F7F7F0;
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tutorial {
	width: 300px;
	margin: 0 auto;
	background: #CC3333;
	padding: 10px;
	text-align: center;
	color: #FFF;
}

.tutorial h2{
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.puzzle {
	width:300px;
	margin: 10px auto 100px;
}

.puzzle ul{
	margin:0;
	padding:0;
}

.puzzle li{
	display: inline-block;
	width: 60px;
	height: 60px;
	border: 3px solid #F7F7F0;
	opacity: 0;
	filter: Alpha(opacity=0);
	animation:fadeIn .5s forwards;
	-webkit-animation:fadeIn .5s forwards; /* Safari and Chrome */	
}

.home{
	width: 100%;
	height: 100%;
	background: #CC3333;
	margin: 0;
	top: 0px;
	position: absolute;
	overflow: hidden;
	text-align: center;
}

.timer{
	position:fixed;
	width: 100%;
	height: 5px;
	background: #CC3333;
	animation:timer 30s forwards;
}

.header{
	color: #CC3333;
	text-transform: lowercase;
	text-align: center;
	padding: 15px 0 10px;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.home .header{
	position: absolute;
	width: 100%;
	color: #fff;
	top: 250px;
	animation:headerMoveUp 1s forwards;
	-webkit-animation:headerMoveUp 1s forwards; /* Safari and Chrome */			
}

.home .header #menu{
	display:none
}

.header #menu{
	display:inline-block;
	vertical-align:top;
}

.header #menu img{
	margin:15px 5px;
	height:30px;
}

.header h1{
	display: inline-block;
	font-weight: 700;
	letter-spacing: -5px;
	margin: 0;
	font-size: 50px;
	line-height: 60px;
}

.home .header h1{
	font-size: 50px;
	line-height: 80px;
}

.header span{
	font-weight: 300;
	letter-spacing: 12px;
	font-size: 30px;
	line-height: 20px;
}

.home .header span{
	font-size: 60px;
	line-height: 40px;
}

.bottomBar{
	position: fixed;
	bottom: 0px;
	height:0px;
	width: 100%;
	overflow: hidden;
	transition: all .5s;
	-webkit-transition: all .5s;
	background: #CC3333;
	color: #fff;
	text-align:center;
}

.home .bottomBar{
	background: #F7F7F0;
	height:80px;
	animation:moveUp 1s;
	-webkit-animation:moveUp 1s; /* Safari and Chrome */		
}

.bottomBar h2{
	font-weight:300;
	margin: 5px 0;
}

.bottomBar p {
    margin: 5px 0;
}

.bottomBar .section {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 5px 0;
}

.bottomBar .info .counter, .bottomBar .info .levelTime {
    width: 48%;
    display: inline-block;
}

.bottomBar img {
    height: 35px;
    padding-top: 10px;
}

.bottomBar .info {
    font-size: 40px;
}

.bottomBar .results table {
    width: 100%;
    color: #fff;
    font-size: 20px;
    border-spacing: 0;
}

.bottomBar .results table img {
    height: 20px;
    padding: 0;
    margin-left: 10px;
}

.bottomBar .results table td {
    padding: 5px 0;
}

.bottomBar .results table tr:nth-child(even) {
    background-color: rgba(0,0,0,.1);
}

.bottomBar .results table tr:nth-child(odd) {
    background-color: rgba(0,0,0,.2);
}

.bottomBar .info .counter #erases {
    font-weight: bold;
    margin-right: -10px;
}

.bottomBar .info .counter #maxErases:before {
    content: '/';
}

.bottomBar .info .levelTime #clock {
    font-weight: bold;
}

.bottomBar .info .levelTime #clock:after, .bottomBar .results #time:after, .bottomBar .results #averageTime:after {
    content: 's';
    font-weight: normal;
}

.button{
	display: inline-block;
	background: rgba(0,0,0,.2);
	color: #fff;
	text-transform: lowercase;
	padding: 10px;
	margin: 10px;
	text-align: center;	
	cursor: pointer;
	border-radius: 5px;
	transition: all .25s;
}

.button:nth-of-type(2n) {
    background: rgba(0,0,0,.3);
}

.home .button{
	height: 60px;
	width: 60px;
	line-height: 60px;
	padding:0;
	margin: 10px 5px;
}

.tutorial .button{
	padding:0;
	border-radius:50%;
	height:30px;
	width:30px;
	line-height:30px;
}

.button:hover {
	opacity: .9;
}

#instructions {
	color: #000;
	text-align: left;
	padding: 0 20px;
}

.credits {
    width: 300px;
	margin: 10px auto 100px;
    text-align: center;
}

.credits h2 {
    color: #CC3333;
}

/* Tutorial */

#tutorial {
    width: 100%;
    height: 100%;
    background: #333;
    color: #FFF;
    margin: 0;
    padding: 10px 20px;
    overflow: scroll;
}

#tutorial .wrapper {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

#tutorial subtitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    display: block;
    text-align: center;
}

#tutorial h2 {
	text-transform: lowercase;
	font-size: 40px;
	margin: 5px 0;
	letter-spacing: -1px;
	text-align: center;
}

#tutorial p {
    margin: 10px 0;
    font-size: 20px;
}

#tutorial #anim1 {
	opacity: 0;
	animation:fadeIn .5s forwards;
	-webkit-animation:fadeIn .5s forwards; /* Safari and Chrome */	
}

#tutorial #anim2 {
	opacity: 0;
	animation:fadeIn .5s 1s forwards;
	-webkit-animation:fadeIn .5s 1s forwards; /* Safari and Chrome */	
}

#tutorial a {
    text-decoration: none;
}

#tutorial .button {
    background: #CC3333;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    display: block;
    margin-top: 25px;
    opacity: 0;
    animation:fadeIn .5s 2s forwards;
    -webkit-animation:fadeIn .5s 2s forwards; /* Safari and Chrome */	
}

/* Puzzle Shapes and Colors */

.puzzle li.a{
	background:#CC3333;
}

.puzzle li.b{
	background:#FF9D33;
}

.puzzle li.c{
	background:#92D050;
}

.puzzle li.d{
	background:#3EBBA7;
}

.puzzle li.e{
	background:#00747A;
}

.puzzle li.f{
	background: #5E4FA2;
}

.puzzle li.u {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.puzzle li.v{
	background-image: url(../img/star.png);
	background-size: contain;
}

.puzzle li.w{
	background-image: url(../img/circle.png);
	background-size: contain;
}

.puzzle li.x{
	background-image: url(../img/diamond.png);
	background-size: contain;
}

.puzzle li.y{
	background-image: url(../img/pentagon.png);
	background-size: contain;
}

.puzzle li.z{
	background-image: url(../img/triangle.png);
	background-size: contain;
}

.puzzle li.left{
	border-right: 0px;
}

.puzzle li.right{
	border-left: 0px;
}

.puzzle li.top{
	border-bottom: 0px;
}

.puzzle li.bottom{
	border-top: 0px;
}

.puzzle li.clicked{
	animation:shrinkFade .5s forwards;
	-webkit-animation:shrinkFade .5s forwards; /* Safari and Chrome */		
}

.shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.4s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.puzzle li.shake {
	animation:fadeIn .5s forwards, spaceboots .4s infinite !important;
	-webkit-animation:fadeIn .5s forwards, spaceboots .4s infinite !important; /* Safari and Chrome */	
}

@keyframes fadeIn
{
	from {
		opacity: 0;
		filter: Alpha(opacity=0);
		}
	to {
		opacity: 1;
		filter: Alpha(opacity=100);
		}		
}

@-webkit-keyframes fadeIn /* Safari and Chrome */
{
	from {
		opacity: 0;
		filter: Alpha(opacity=0);
		}
	to {
		opacity: 1;
		filter: Alpha(opacity=100);
		}		
}

@keyframes moveUp
{
	from { height: 0; }
	to { height: 80px; }
}

@-webkit-keyframes moveUp /* Safari and Chrome */
{
	from { height: 0; }
	to { height: 80px; }
}

@keyframes shrinkFade
{
	from {
		opacity: 1;
		filter: Alpha(opacity=100);
		border: 3px solid #F7F7F0;
		}
	to {
		opacity: .2;
		filter: Alpha(opacity=20);
		border: 15px solid #F7F7F0;
		}		
}

@-webkit-keyframes shrinkFade /* Safari and Chrome */
{
	from {
		opacity: 1;
		filter: Alpha(opacity=100);
		border: 3px solid #F7F7F0;
		}
	to {
		opacity: .2;
		filter: Alpha(opacity=20);
		border: 15px solid #F7F7F0;
		}		
}

@keyframes headerMoveUp
{
	from { top: 250px; }
	to { top: 210px; }
}

@-webkit-keyframes headerMoveUp /* Safari and Chrome */
{
	from { top: 250px; }
	to { top: 210px; }
}

@keyframes timer
{
	from { width: 100%; }
	to { width: 0%; }
}

@-webkit-keyframes timer /* Safari and Chrome */
{
	from { width: 100%; }
	to { width: 0%; }
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}